/*
Box-sizing fix
*/

* {
    box-sizing: border-box;
}
/*
Fonts
*/
/*
Custom CSS
*/

html {
    font-family: 'oswald', sans-serif;
    font-weight: ;
}

body {
    background: black;
    color: white;
    text-align: center;
    width: 100%;
}
/*
General Styling
*/

h1 {
    font-size: 2.5em;
    margin: 0 auto;
}

h2 {
    font-size: 2.4em;
    margin: 20px auto;
}

a {
    text-decoration: none;
}

p {
    margin: auto;
}
/*
Header
*/

header {
    background: black;
    color: white;
    text-align: center;
}

#spore {
    margin-top: 15px;
    width: 250px;
}

#title {
    margin: 0 auto 10px auto;
    text-align: center;
}

#mushrooms {
    background-image: url(nav_mushroom.png), url(nav_mushroom_2.png);
    background-position: center, right;
    background-repeat: repeat-x;
    background-size: contain;
    height: 200px;
    padding-top: 20px;
}

#contact_mobile {
    background: rgba(255, 255, 255, 0.9);
    color: black;
    font-size: 1.1em;
    width: 250px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

#contact_mobile p {
    font-size: 0.9em;
    margin: 3px 0;
}

#contact_desktop p {
    display: inline-block;
    font-size: 1.4em;
    line-height: 2;
    padding: 0 10px;
}
/*
Navigation
*/

nav {
    font-size: 2em;
    margin: 0 auto;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 8px 5px;
}

nav a {
    background: white;
    color: black;
    padding: 3px 10px;
}

#menu {
    text-align: center;
    margin-top: 40px;
}

#paper {
    background: white;
    color: black;
    font-size: 1em;
    width: 320px;
    line-height: 1.3;
    margin: 0 auto;
    padding-bottom: 10px;
}

#paper img {
    width: 80%;
}

#a_boire {
    font-size: 1.2em;
    line-height: 1.7;
}

#a_boire a {
    background: white;
    display: inline-block;
    padding: 3px 6px;
}

#photos img {
    width: 100%;
    margin: 0;
    max-width: 400px;
}

#contact p {
    width: 320px;
    font-size: 1.2em;
}

#contact iframe {
    margin: 15px auto;
}
/*
CSS media queries ---------------------------------------------
*/

@media (max-width: 600px) {
    #contact_desktop {
        display: none;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 3.5em;
    }
    #spore {
        margin-top: 30px;
        width: 310px;
    }
    #contact_mobile {
        display: none;
    }
    #mushrooms {
        height: 225px;
        padding-top: 25px;
    }
}